<div class="row">
  <aside class="col-md-4 col-md-offset-4">
  <%= link_to t(".words_list"), words_path, class: "btn-lg btn-primary" %>
  &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
  <%= link_to t(".start_lesson"), lessons_path, class: "btn-lg btn-primary" %>
</div>
<h1 class="text-center"><%= t "all_lesson" %></h1>
<table class="table table-hover">
  <tr>
    <th><%= t "create_at" %></th>
    <th><%= t "category" %></th>
    <th><%= t "status" %></th>
    <th><%= t "score" %></th>
    <th></th>
  </tr>
  <%= render partial: "lessons/lesson", collection: @lessons  %>
</table>
<%= paginate @lessons %>
