<h1><%= t "lesson" %></h1>
<p>
  <b><%= t "category" %>:</b>
  <%= link_to @lesson.category.name, @lesson.category %>
</p>
<% if @lesson.status %>
  <p>
    <b><%= t "correct_answer" %>:</b>
    <%= "#{@lesson.answers.correct.size}"%>
  </p>
<% end %>
<p>
  <b><%= t "total_word" %>:</b>
  <%= @lesson.words.size %>
</p>
<%= form_for @lesson do |f| %>
  <%= f.hidden_field :status, value: true %>
  <%= f.fields_for :results do |result| %>
    <%= render "question", f: result %>
  <% end %>
  <%= f.submit t("submit"), class: "btn btn-primary" unless @lesson.status %>
<% end %>
