<tr>
  <td><%= lesson.created_at %></td>
  <td><%= lesson.category.name %></td>
  <td>
    <% if lesson.status %>
      <span class="label label-success">
        <%= t "finished" %>
      </span>
    <% else %>
      <span class="label label-info">
        <%= t "open" %>
      </span>
    <% end %>
  </td>
  <td><%= lesson.correct.size %> / <%= lesson.words.size %></td>
  <td>
    <% if lesson.status %>
      <%= link_to t(:view), lesson, class: "col-md-5 btn btn-success" %>
    <% else %>
      <% unless lesson.time_start %>
        <%= form_for [lesson] do |f| %>
          <%= f.hidden_field :time_start, value: Time.now %>
          <%= f.submit t(:start), class: "col-md-5 btn btn-warning" %>
        <% end %>
        <% else %>
        <%= link_to t(:continue), lesson, class: "col-md-5 btn btn-primary" %>
      <% end %>
      <% end %>
  </td>
</tr>
