<% if @lesson.status %>
  <div class="panel panel-<%= result_status f.object.answer %>">
<% else %>
  <div class="panel panel-default">
<% end %>
    <div class="panel-heading">
      <h3 class="panel-title">
        <b><%= f.options[:child_index] + 1 %>.</b>
        <%= f.object.word.content %>
      </h3>
    </div>
    <div class="panel-body">
      <% f.object.word.answers.each do |answer| %>
        <div class="radio">
          <label>
            <%= f.radio_button :answer_id, answer.id, disabled: @lesson.status %>
              <% if @lesson.status && f.object.answer == answer %>
                <span class="<%=  answer.correct ? "text-success" :"text-danger" %>">
                  <%= answer.content %>
                </span>
              <% else %>
                <%= answer.content %>
              <% end %>
          </label>
        </div>
      <% end %>
    </div>
  </div>
