<div class="card mb-3">
  <div class="card-header">
    <h1><%= t ".word_list" %> </h1>
  </div>
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <div class="card-body">
        <br>
        <div class="table-responsive">
          <table class="table table-bordered" id="dataTable">
            <thead>
              <tr>
                <th><%= t ".word_content" %></th>
                <th><%= t ".category" %></th>
                <th><%= t ".answer" %></th>
              </tr>
            </thead>
            <tbody>
              <%= render partial: "word", collection: @words %>
            </tbody>
          </table>
        </div>
        <div class="text-center">
          <%= paginate @words %>
        </div>
      </div>
    </div>
  </div>
</div>
