<div class="card mb-3">
  <div class="card-header">
    <h1><%= t ".word_list" %> </h1>
  </div>
  <div class="row">
  <div class="col-md-10 col-md-offset-1">
      <%= form_for words_path, method: :get do |f| %>
        <div class="row well">
          <div class="col-md-9">
            <%= select_tag :category_id,
              options_from_collection_for_select(@categories, :id, :name,
                params[:category_id]), include_blank: t(:all),
                  class: "form-control" %>
            <div class="row">
              <% Settings.filter_options.each do |option| %>
                <div class="col-md-4">
                  <div class="radio">
                    <label>
                      <%= radio_button_tag :option, option,
                        params[:option] == option %>
                      <%= t "word.#{option}" %>
                    </label>
                  </div>
                </div>
              <% end %>
            </div>
          </div>
          <div class="col-md-2">
            <%= f.submit t("filter"), class: "btn btn-info btn-block" %>
          </div>
        </div>
      <% end %>
    <div class="col-md-6 col-md-offset-2">
      <div class="card-body">
        <br>
        <div class="table-responsive">
          <table class="table table-bordered" id="dataTable">
            <thead>
              <tr>
                <th><%= t ".word_content" %></th>
                <th><%= t ".category" %></th>
                <th><%= t ".answer" %></th>
              </tr>
            </thead>
            <tbody>
              <%= render partial: "word", collection: @words %>
            </tbody>
          </table>
        </div>
        <div class="text-center">
          <%= paginate @words %>
        </div>
      </div>
    </div>
  </div>
</div>
