<h1 class="text-center"><%= t "all_lesson" %></h1>
<table class="table table-hover">
  <tr>
    <th><%= t "index" %></th>
    <th><%= t "create_at" %></th>
    <th><%= t "category" %></th>
    <th><%= t "status" %></th>
    <th><%= t "score" %></th>
    <th></th>
  </tr>
  <%= render partial: "lessons/lesson", collection: @lessons  %>
</table>
